.card-pages, .address-page, .order-page{
    margin-top: 6em;
}
.div-address-cards{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}
.card-pages h6{
    font-family: Paytone One;
    letter-spacing: .25px;
    color:rgb(70,48,24);
    padding-top: 2%;
    font-size:x-large;
}

.card-pages p{
    text-align:left !important;
    letter-spacing: .25px;
    color:#496A2D;
    font-family: Paytone One;

}

.LinkButton-account {
    align-items: center;
    appearance: none;
    background-color: #496A2D;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: rgb(244,238,180);
    cursor: pointer;
    font-family: Paytone One;
    font-size: 20px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    max-width: 100%;
    padding: 15px 60px;
    text-align: center;
    text-transform: none;
    width: auto;
    display:flex;
    vertical-align: center;
    margin-right: 1%;
}
  
.LinkButton-account:hover {
    background: rgb(244,238,180);
    color: rgb(70,48,24);
}

.LinkButton-card {
    align-items: center;
    appearance: none;
    background-color: rgb(70,48,24);
    border-radius: 24px;
    border-style: none;
    box-sizing: border-box;
    color: rgb(244,238,180);
    cursor: pointer;
    font-family: Paytone One;
    font-size: 15px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    max-width: 100%;
    padding: 15px 40px;
    text-align: center;
    text-transform: none;
    width: auto;
    margin:auto;
    display:flex;
    vertical-align: center;
}

.LinkButton-card:hover {
    background: rgb(244,238,180);
    color: rgb(70,48,24);
}


.container-account{
    border: 1px solid hsl(0,0%,80%);
    border-radius:10px;
    box-shadow:rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    padding: 1%;
    margin:2%;
    text-align:justify;
    width: 350px;
    display: flex;
    align-items: center;
    
}

.container-card{
    border: 1px solid hsl(0,0%,80%);
    border-radius:10px;
    box-shadow:rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    padding: 1%;
    margin:2% 1%;
    text-align:justify;
    max-height: fit-content;
}



.container-card-add-address{
    border: 1px solid hsl(0,0%,80%);
    border-radius:10px;
    box-shadow:rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    max-height: fit-content;
    margin: 2% 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.grid-card{
    display:grid;
    grid-template-columns: 70% 30%;
}

.grid-card-address{
    display:grid;
    grid-template-columns: 80% 20%;
    width: fit-content;
    margin: auto;
}


.bigcontainer-account{
    margin: 0% 1%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}

.mediumcontainer-account{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.icon-account {
    font-variation-settings:
    'FILL' 100,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    color:rgb(244,238,180);
    font-size: 60px !important;
    padding:3%!important;
    vertical-align: middle;
    border:none;
    max-width: fit-content;
    height: fit-content;
    background-color: #496A2D  ;
    border-radius: 50px;
  }
.one{grid-column: 1;}

.two{grid-column: 2;}

.three{grid-column: 3;}

.icon-add-address{
    background-color:rgb(70,48,24);
    color: rgb(244,238,180);
    font-size: 30px !important;
    border-radius: 50px;
    padding: 5px;
}

.icon-delete-address{
    background-color:rgb(70,48,24);
    color: rgb(244,238,180);
    border-radius: 24px;
    font-size: 30px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding: 0px 0.5em;
}

.address-name{
    color: rgb(70,48,24);
    font-family: Paytone One;
}

.address-info{
    color: #7E664A;
    font-family: Paytone One;
}

@media only screen and (max-width: 750px) and (orientation: portrait) {
    .card-pages, .address-page, .order-page{
        margin-top: 4em;
    }
    .container-card{
        padding:5%;
    }
    .card-pages h1, .address-page h1, .account-page h1, .order-page h1{
        margin:0%;
        text-align: center;
        font-size:2.5em;
    }
    .LinkButton-account{
        display: none;
    }
    .mediumcontainer-account{
        justify-content: center;
    }
    .icon-account{
        font-size: 50px !important;
    }
}

@media only screen and (max-height: 750px) and (max-width: 960px) and (orientation: landscape) {
    .card-pages, .address-page, .order-page{
        margin-top: 4em;
    }
    .container-card{
        padding:2%;
    }
    .card-pages h1, .address-page h1, .account-page h1, .order-page h1{
        font-size:2.5em;
    }
}

.text-container-account{
    margin-left: 5%;
    color: rgb(70,48,24);
}

.content-basket-page{
    display: grid;
    grid-template-columns: 75% 25%;
}

.basket-cards{
    display: inline;
    grid-column: 1/1;
}

.card-basket{
    border: 1px solid hsl(0,0%,80%);
    border-radius:10px;
    box-shadow:rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    margin:1em 0.5em 1em 1em;
    text-align:justify;
    height: 150px;
    width: calc(100%-1.5em);
    display: flex;
}

.card-basket-div-image{
    width: 150px;
    min-width: 150px;
    background-color:#C1C1C1;
    align-content: center;
    text-align: center;
    border-radius:10px 0px 0px 10px;
}

.card-basket-image{
    max-height: 150px;
    max-width: 150px;
}

.basket-total-order{
    border: 1px solid hsl(0,0%,80%);
    border-radius:10px;
    box-shadow:rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    padding: 2%;
    height: 150px;
    grid-column: 2/2;
    width: calc(100%-1.5em);
    margin:1em 1em 1em 0.5em;
    position: relative;
}

.basket-total-order a{
    position: absolute;
    bottom: 0.5em;
    right: 0;
    left: 0;
}
.card-basket-info-product{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(10,10%);
    padding: 5px 10px;
}

.card-basket-info-product span{
    text-align: end;
    color:rgb(70,48,24);
    font-size: 30px !important;
}

.card-basket-name-product{
    grid-column: 1/1;
    grid-row: 1/1;
}

.card-basket-name-quantity{
    grid-column: 1/1;
    grid-row: 9/10;
}

.card-basket-name-price{
    text-align: end;
    grid-row: 9/10;
}

.card-order-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: rgb(70,48,24);
    padding: 5px 15px;
}


.card-order-info-right{
    text-align: end;
}

.card-order{
    margin: 1.5em 5em;
}