
.footer{
    background-color: #F4EEB4;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
}