.div-form p{
  letter-spacing: .25px !important;
  font-size: medium !important;
  text-align: center !important;
  color:rgb(70,48,24);
   font-family: Paytone One;
}

.div-form label, .label-input, .div-form select, .div-form select option, .div-form input:not([type=submit]), .div-form textarea{
  color:rgb(70,48,24);
   font-family: Paytone One !important;
}
.div-form a{
  color:#A6AA53;
   font-family: Paytone One;
}

.div-form{
  margin-bottom: 0 !important;
}

.Text{
    padding-left:5%;
}

*{
  margin: 0 ;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex ;
  align-items: center ;
  justify-content: center; 
  min-height: 100vh;
  padding: 10px;
  font-family: 'Poppins', sans-serif;

}

.big-container-contact{
  background-image: url("../assets/Hedgehog_leaf.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  align-content: center;
}

.big-container-login{
  background-image: url("../assets/Hedgehog_leaf.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  align-content: center;
}

.first-container-form{
  margin:auto;
  text-align: center;
  color:#f3edb3;
  background-color: rgba(0,0,0,.5);
}

.first-container-form h1{
  color:#f3edb3 !important;
}

.container-form-contact{
  margin-top: 0 !important;
}

.container-form{
  max-width: 800px;
  background: #fff;
  width: 95%;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  margin:auto;
  border-radius: 24px;
  margin-top: 3em;
  margin-bottom: 3em;
}

.container-form .text{
  text-align: center;
  font-size: 41px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  background: #496A2D;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container-form form{
  padding: 30px 0 0 0;
}
.container-form form .form_row{
  display: flex;
  margin: 32px 0;
}
form .form_row .input_data,
form .form_row .radio,
form .form_row .select,
form .form_row .date{
  width: 100%;
  margin: 0 20px;
  position: relative;
}

form .form_row .input_data{
  height: 50px;
}


/*form .form_row .select,
form .form_row .date{
  height:100px
}*/
form .form_row .textarea{
  height: 70px;
}
.input_data input:not([type=submit]),
.textarea textarea{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
}
.input_data input:focus ~ label, .textarea textarea:focus ~ label{
  transform: translateY(-20px);
  font-size: 14px;
  color: #A6AA53;
}

.label-input-filled{
  transform: translateY(-20px);
  font-size: 14px !important;
  color: #A6AA53;
}

.textarea textarea{
  resize: none;
  padding-top: 10px;
}
.input_data label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.textarea label{
  width: 100%;
  bottom: 40px;
  background: #fff;
}
.input_data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input_data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #A6AA53;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input_data input:focus ~ .underline:before,
.textarea textarea:focus ~ .underline:before{
  transform: scale(1);
}

.underline-input-filled:before{
  transform: scale(1);
}

input[type=radio] {
  --s: 1em;     /* control the size */
  --c:  rgb(73,106,45); /* the active color */
  margin-right:10px;
  height: var(--s);
  aspect-ratio: 1;
  border: calc(var(--s)/8) solid #939393;
  padding: calc(var(--s)/8);
  background: 
     radial-gradient(farthest-side,var(--c) 94%,#0000) 
     50%/0 0 no-repeat content-box;
  border-radius: 50%;
  outline-offset: calc(var(--s)/10);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  font-size: inherit;
  transition: .3s;
}
input[type=radio]:checked {
  border-color: var(--c);
  background-size: 100% 100%;
}
.radio label{
  padding-left:15px;
}
.radio,
.select{
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
}

.radio_label {
  display:inline-flex;
  align-items:center;
  gap:10px;
  margin:5px 0;
  cursor: pointer;
}

select {
  border: 1px solid #ccc;
  outline: 0;
  font: inherit;
  width: 17em;
  height: 3em;
  padding: 0 4em 0 1em;
  border-radius: 0.25em;
  cursor: pointer;
  position: relative;
}
select:focus {
  outline: none;
}

select::-ms-expand {
  display: none;
}
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #ccc;
  padding: 0.5em;
  margin-left:10px;
  border-radius: 0.25em;
  font-size: 1em;
  width: 17em;
  height: 3em;
  display:block;
  outline:none;
}
input[type="date"]:focus {
  outline: none;
  border-color: rgb(166,170,83); 
  box-shadow:rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
}
@media (max-width: 700px) {
  .container-form .text{
    font-size: 30px;
  }
  .container-form form{
    padding: 10px 0 0 0;
  }
  form .form_row .input_data,
  form .form_row .radio,
  form .form_row .select,
  form .form_row .date{
    width: 100%;
    margin: 0 0;
    position: relative;
  }

  .container-form form .form_row{
    flex-direction: column;
    align-items: center;
  }

  form .form_row .select, form .form_row .input-inline{
    margin-bottom: 32px;
  }
  
}