
.header{
  display: inline-block;
  background: #7E664A;
  text-align: center;
  height:8.5em;
  width:100%;
}

.logo {
  height: 5em;
}

.title_container{
  margin:auto;
  align-items: center;
}

.navBarContainer{
  right: 0;
  position: relative;
  align-self: center;
  align-items: center;

  width: 100%;
}

@media only screen and (max-width: 960px) {
  .logo {
    height: 8em;
    padding: 1.5em;
  }
}
