
.header{
  display: grid;
  background: #7E664A;
  text-align: center;
  height:8em;
  width:100%;
  grid-template-columns: repeat(50,2%);
  grid-template-rows: repeat(10,10%);
}

.logo {
  height: 5em;
}

.title_container{
  margin:auto;
  align-items: center;
  grid-column: 10/40;
  grid-row: 1/4;
}

.navBarContainer{
  align-self: center;
  align-items: center;
  grid-column: 1/50;
  grid-row: 8/10;
  margin-left:auto;
  margin-right: auto;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: #f3edb3;
  font-size: 40px !important;
}

.icons-container{
  display: grid;
  grid-template-columns: repeat(3, 35%);
  grid-column: 44 / 50;
  grid-row: 2 / 6;
  align-items: center;
}

#icon-favorite{
  grid-column: 1/1;
}

#icon-person{
  grid-column: 2/2;
  font-size: 50px !important;
}

#icon-cart{
  grid-column: 3/3;
}

@media only screen and (max-width: 960px) and (orientation: portrait) {
  #icon-nav-bar-person{
    font-size: 40px !important;
    margin-right: 1px !important;
  }
  .header{
    height: 4em;
  }
  .logo {
    height: 4em;
  }
  #icon-favorite{
    display: none;
  }
  #icon-person{
    grid-column: 1/1;
    font-size: 32px !important;
  }
  #icon-cart{
    grid-column: 2/2;
  }
  .material-symbols-outlined {
    font-size: 35px !important;
    vertical-align: middle;
    margin-right: 5px;
  }
  .icons-container{
    grid-template-columns: repeat(2, 60%);
    grid-column: 42 / 49;
    grid-row: 3 / 9;
  }
    .navBarContainer ul {
      margin:0;
      padding:0;
      background-color: #7E664A;
      position: fixed;
      left: -100vw;
      top: 0em;
      width: 80vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: start;
      transition: 1s;
      gap: 0;
    }
    .navBarContainer li {
        margin: 5px 0;
    }
    #ham-menu {
      display: block !important;
      color: #f3edb3;
      font-size: 30px;
      grid-column:2 / 4;
      grid-row: 4 / 9;
    }
    .fa-bars{
      display:none;
    }
    .logo_nav_bar{
      height:4em;
      display: block !important;
    }
    .overlay-nav-bar{
      background-color: #444444d0;
      width:100vw;
      height:100vh;
      z-index: 9;
      display: inline;
    }
    .li-icons{
      display: inline !important;
      margin-left: 30px !important;
    }
    #close-menu{
      display: block !important;
      font-size: 30px;
      color:#f3edb3;
      grid-column: 9/11;
      grid-row: 3/9;
    }
    .li-logo{
      display: grid !important;
      grid-template-columns: repeat(10,10%);
      width: 100%;
      grid-template-rows: repeat(10,10%);
      height: 10%;
      align-items: center;
    }
    .logo-nav-bar{
      grid-column: 2/9;
      grid-row: 1/11;
      width: 100%;
    }
}

@media only screen and (max-width: 960px) and (orientation: landscape) {
  #icon-nav-bar-person{
    font-size: 40px !important;
    margin-right: 1px !important;
  }
  .header{
    height: 4em;
  }
  .logo {
    height: 4em;
  }
  #icon-favorite{
    display: none;
  }
  #icon-person{
    grid-column: 1/1;
    font-size: 32px !important;
  }
  #icon-cart{
    grid-column: 2/2;
  }
  .material-symbols-outlined {
    font-size: 35px !important;
    vertical-align: middle;
    margin-right: 5px;
  }
  .icons-container{
    grid-template-columns: repeat(2, 60%);
    grid-column: 42 / 49;
    grid-row: 3 / 9;
  }
    .navBarContainer ul {
      margin:0;
      padding:0;
      background-color: #7E664A;
      position: fixed;
      left: -100vw;
      top: 0em;
      width: 40vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: start;
      transition: 1s;
      gap: 0;
    }
    .navBarContainer li {
        margin: 5px 0;
        font-size: 12px;
    }
    #ham-menu {
      display: block !important;
      color: #f3edb3;
      font-size: 30px;
      grid-column:2 / 4;
      grid-row: 4 / 9;
    }
    .fa-bars{
      display:none;
    }
    .logo_nav_bar{
      height:4em;
      display: block !important;
    }
    .overlay-nav-bar{
      background-color: #444444d0;
      width:100vw;
      height:100vh;
      z-index: 9;
      display: inline;
    }
    .li-icons{
      display: inline !important;
      margin-left: 30px !important;
    }
    #close-menu{
      display: block !important;
      font-size: 30px;
      color:#f3edb3;
      grid-column: 9/11;
      grid-row: 3/9;
    }
    .li-logo{
      display: grid !important;
      grid-template-columns: repeat(10,10%);
      width: 100%;
      grid-template-rows: repeat(10,10%);
      height: 15%;
      align-items: center;
    }
    .logo-nav-bar{
      grid-column: 2/9;
      grid-row: 1/11;
      width: 100%;
    }
    .navBarContainer ul {
      gap: 1rem !important;
      overflow-y: auto;
    }
}

@media (min-width: 960px) and (orientation: portrait) {
  #icon-nav-bar-person{
    font-size: 40px !important;
    margin-right: 1px !important;
  }
  .header{
    height: 4em;
  }
  .logo {
    height: 4em;
  }
  #icon-favorite{
    display: none;
  }
  #icon-person{
    grid-column: 1/1;
    font-size: 32px !important;
  }
  #icon-cart{
    grid-column: 2/2;
  }
  .material-symbols-outlined {
    font-size: 35px !important;
    vertical-align: middle;
    margin-right: 5px;
  }
  .icons-container{
    grid-template-columns: repeat(2, 60%);
    grid-column: 42 / 49;
    grid-row: 3 / 9;
  }
    .navBarContainer ul {
      margin:0;
      padding:0;
      background-color: #7E664A;
      position: fixed;
      left: -100vw;
      top: 0em;
      width: 40vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: start;
      transition: 1s;
      gap: 0;
    }
    .navBarContainer li {
        margin: 5px 0;
        font-size: 20px;
    }
    #ham-menu {
      display: block !important;
      color: #f3edb3;
      font-size: 30px;
      grid-column:2 / 4;
      grid-row: 4 / 9;
    }
    .fa-bars{
      display:none;
    }
    .logo_nav_bar{
      height:4em;
      display: block !important;
    }
    .overlay-nav-bar{
      background-color: #444444d0;
      width:100vw;
      height:100vh;
      z-index: 9;
      display: inline;
    }
    .li-icons{
      display: inline !important;
      margin-left: 30px !important;
    }
    #close-menu{
      display: block !important;
      font-size: 30px;
      color:#f3edb3;
      grid-column: 9/11;
      grid-row: 3/9;
    }
    .li-logo{
      display: grid !important;
      grid-template-columns: repeat(10,10%);
      width: 100%;
      grid-template-rows: repeat(10,10%);
      height: 8%;
      align-items: center;
    }
    .logo-nav-bar{
      grid-column: 2/9;
      grid-row: 1/11;
      width: 100%;
    }
}

.fa-times{
  display:none;
}
.navBarContainer {
  height:80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navBarContainer ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  z-index: 10;
}
.navBarContainer a#logo {
  color: #000000;
  font-weight: 700;
}
#ham-menu {
  display: none;
}
.navBarContainer ul.active {
  left: 0;
}
.text-icon-nav-bar{
  color: #f3edb3;
  font-family: Paytone One;
  vertical-align: middle;
}
.li-icons{
  display: none;
}
#close-menu{
  display: none;
}
.li-logo{
  display: none;
}