.profil-page h1{
    color:rgb(70,48,24) !important;
    padding-left:4% !important;
    padding-top:3% !important;
    font-size:xxx-large !important;
    font-family: Paytone One !important;
    letter-spacing: .25px !important;
}

.profil-page h3{
    font-family: Paytone One !important;
    letter-spacing: .25px !important;
    color:rgb(70,48,24) !important;
    padding-top: 2% !important;

}

.profil-page p{
    text-align:left !important;
    letter-spacing: .25px !important;
    color:#496A2D !important;
    font-family: Paytone One !important;

}

.grid-profil{

    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items:left;
    vertical-align: left !important;
}

.bigcontainer-profil{
    display: grid;
    grid-template-columns: 30% 70%;
    align-items:normal;
    vertical-align: middle;
    margin: auto;
    width: 60%;
}

.icon-profil {
    color:rgb(70,48,24);
    font-size: 75px !important;
    padding:2%!important;
    vertical-align: middle;
    border:none;
    text-align: center;
}

.bordure-profil{
    border-bottom:1px solid rgb(166,170,83);
    width:60%;
    margin:auto;
}

.container-infos-profil{
    margin-top: 1%;
    margin-bottom: 2%;
}

@media only screen and (max-width: 750px) and (orientation: portrait) {
    .bordure-profil{
        width:90%;
    }
    .bigcontainer-profil{
        width: 90%;
    }
}


