@font-face {
  font-family: 'Pacifico';
  src: url('fonts/Pacifico/Pacifico-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Paytone One';
  src: url('fonts/Paytone_One/PaytoneOne-Regular.ttf') format('truetype');
}
.Himage{
    background-image: url("../assets/hedgehog.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    height:80%;
    width:100%;
    background-position: left;
}

.Title{
    color:rgb(70,48,24);
    padding-left:4%;
    padding-top:3%;
    font-size:xxx-large;
    font-family: Pacifico;
    letter-spacing: .25px;
}

@media only screen and (max-width: 960px) and (orientation:portrait){ /*phone portrait mode*/
  .Title{
    font-size: 30px;
  }
  .Himage{
    background-image: url("../assets/hedgehog_phone.png") ;
    height:35%;
    width:100%;
    background-position-y: center;
  }
  .LinkButton {
    font-size: 18px !important;
    height: 30px !important;
    padding: 20px 30px !important;
  }
  .icons-advantages{
    grid-template-rows: repeat(3,33.3%);
    grid-template-columns: none !important;
  }
  #blocks-know-more{
    display: none !important;
  }
  .slick-slider{
    display: block !important;
    width:80%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 30px;
  }
  .material-symbols-rounded {
    font-size: 110px !important;
  }
}
@media only screen and (min-width: 960px){ /*not a phone*/
  .slick-slider{
    display: none !important;
  }
  .material-symbols-rounded {
    font-size: 20vh !important;
  }
}

@media only screen and (max-width: 960px) and (orientation:landscape){ /*phone landscape mode*/
  .Title{
    font-size: 35px;
    padding-top: 2%;
  }
  .Himage{
    background-image: url("../assets/hedgehog_phone.png") ;
    height:70%;
    width:100%;
    background-position-y: center;
  }
  .LinkButton {
    font-size: 20px !important;
    height: 15% !important;
    padding: 1% 3% !important;
  }
  .slick-slider{
    display: none !important;
  }
  #blocks-know-more{
    margin-left: 5% !important;
    margin-right: 5% !important;
    height: 35% !important;
  }
  #blocks-know-more button{
    top:25% !important;
  }
  #blocks-know-more a{
    font-size: 20px !important;
  }
  .material-symbols-rounded {
    font-size: 100px !important;
  }
  .icons-advantages{
    margin-right: 5% !important;
    margin-left: 5% !important;
  }
  #blocks-know-more span{
    font-size: 150% !important;
  }
  
}

@media only screen and (min-width: 960px) and (orientation: portrait){ /*tablet portrait mode*/
  .Himage{
    height:35%;
    width:140%;
    background-position-y: center;
  }
  #blocks-know-more{
    margin-left: 5% !important;
    margin-right: 5% !important;
    height: 15% !important;
  }
  #blocks-know-more button{
    top:40% !important;
  }
  #blocks-know-more a{
    font-size: 25px !important;
  }
  #blocks-know-more span{
    font-size: 30px !important;
  }
  .icons-advantages{
    margin-right: 5% !important;
    margin-left: 5% !important;
  }
  .material-symbols-rounded {
    font-size: 150px !important;
  }
}

.LinkButton {
  align-items: center;
  appearance: none;
  background-color: rgb(70,48,24);
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: rgb(244,238,180);
  cursor: pointer;
  display: inline-flex;
  font-family: Paytone One;
  font-size: 20px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  max-width: 100%;
  padding: 15px 60px;
  position: relative;
  text-align: center;
  text-transform: none;
  width: auto;
  margin-left:4%;
  margin-top: 10px;
}

.LinkButton:hover {
  background: rgb(244,238,180);
  color: rgb(70,48,24);
}
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: #496A2D;
}

.icons-advantages{
  display: grid;
  grid-template-columns: repeat(3,33.3%);
  text-align: center;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.icons-advantages div{
  display: grid;
}

.text-advantages{
  color: #496A2D;
  font-family: Paytone One;
  font-size: 20px;
}

#blocks-know-more{
  display: grid;
  grid-template-columns: repeat(3,33.3%);
  height:250px;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

#blocks-know-more div{
  margin-left: 2%;
  margin-right: 2%;
  padding-left: 7%;
  padding-top: 5%;
}

.block-slider{
  padding-left: 7%;
  padding-top: 5%;
}

#food-block{
  background-color: #A6AA53;
}

#houses-block{
  background-color: #F4EEB4;
}

#toys-block{
  background-color: #7F674B;
}

#food-block a{
  color: #A6AA53;
}

#houses-block a{
  color: #F4EEB4;
}

#toys-block a{
  color: #7F674B;
}

#blocks-know-more span, .slick-slider span{
  color: #463018;
  font-size: 200%;
  font-family: Paytone One;
}

#blocks-know-more button, .block-slider button{
  background-color: #463018;
  border: none;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 5%;
  padding-left: 5%;
  border-radius: 15px;
  position: relative;
  top: 45%;
}

.block-slider button{
  margin-top: 15%;
  margin-bottom: 8%;
}

#blocks-know-more a, .block-slider a{
  text-decoration: none;
  font-size: 200%;
  font-family: Paytone One;
}

.slick-next:before, .slick-prev:before{
  opacity: 1 !important;
}

.slick-dots li button:before, .slick-dots li.slick-active button:before{
  color: #463018 !important;
}
:root{
--ifm-color-primary:#463018 !important;
}
