@font-face {
  font-family: 'Pacifico';
  src: url('fonts/Pacifico/Pacifico-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Paytone One';
  src: url('fonts/Paytone_One/PaytoneOne-Regular.ttf') format('truetype');
}
.Himage{
    background-image: url("../assets/hedgehog.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    width:100%;
    background-position: left;
}

.Title{
    color:rgb(70,48,24);
    padding-left:4%;
    padding-top:3%;
    font-size:xxx-large;
    font-family: Pacifico;
    letter-spacing: .25px;
}

@media only screen and (max-width: 960px) {
  .Title{
    font-size: 20px;
  }
}

.LinkButton {
  align-items: center;
  appearance: none;
  background-color: rgb(70,48,24);
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: rgb(244,238,180);
  cursor: pointer;
  display: inline-flex;
  font-family: Paytone One;
  font-size: 20px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  max-width: 100%;
  padding: 15px 60px;
  position: relative;
  text-align: center;
  text-transform: none;
  width: auto;
  margin-left:4%;
}

.LinkButton:hover {
  background: rgb(244,238,180);
  color: rgb(70,48,24);
}
