@font-face {
  font-family: 'Pacifico';
  src: url('fonts/Pacifico/Pacifico-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Paytone One';
  src: url('fonts/Paytone_One/PaytoneOne-Regular.ttf') format('truetype');
}
.Himage{
    background-image: url("../assets/hedgehog.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    width:100%;
    background-position: left;
}

.Title{
    color:rgb(70,48,24);
    padding-left:4%;
    padding-top:3%;
    font-size:xxx-large;
    font-family: Pacifico;
    letter-spacing: .25px;
}

@media only screen and (max-width: 960px) and (orientation:portrait){
  .Title{
    font-size: 20px;
  }
  .Himage{
    height:35%;
    width:140%;
    background-position-y: center;
  }
  .LinkButton {
    font-size: 12px !important;
    height: 30px !important;
    padding: 15px 30px !important;
  }
  .icons-advantages{
    grid-template-rows: repeat(3,33.3%);
    grid-template-columns: none !important;
  }
}

@media only screen and (max-width: 960px) and (orientation:landscape){
  .Title{
    font-size: 30px;
    padding-top: 2%;
  }
  .Himage{
    height:70%;
    width:140%;
    background-position-y: center;
  }
  .LinkButton {
    font-size: 12px !important;
    height: 30px !important;
    padding: 15px 30px !important;
  }
}

@media only screen and (min-width: 960px) and (orientation: portrait){
  .Himage{
    height:35%;
    width:140%;
    background-position-y: center;
  }
}

.LinkButton {
  align-items: center;
  appearance: none;
  background-color: rgb(70,48,24);
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: rgb(244,238,180);
  cursor: pointer;
  display: inline-flex;
  font-family: Paytone One;
  font-size: 20px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  max-width: 100%;
  padding: 15px 60px;
  position: relative;
  text-align: center;
  text-transform: none;
  width: auto;
  margin-left:4%;
}

.LinkButton:hover {
  background: rgb(244,238,180);
  color: rgb(70,48,24);
}
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size: 120px !important;
  color: #496A2D;
}

.icons-advantages{
  display: grid;
  grid-template-columns: repeat(3,33.3%);
  text-align: center;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.icons-advantages div{
  display: grid;
}

.text-advantages{
  color: #496A2D;
  font-family: Paytone One;
  font-size: 20px;
}

#blocks-know-more{
  display: grid;
  grid-template-columns: repeat(3,33.3%);
  height:30%;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

#blocks-know-more div{
  margin-left: 2%;
  margin-right: 2%;
  padding-left: 7%;
  padding-top: 5%;
}

#food-block{
  background-color: #A6AA53;
}

#houses-block{
  background-color: #F4EEB4;
}

#toys-block{
  background-color: #7F674B;
}

#food-block a{
  color: #A6AA53;
}

#houses-block a{
  color: #F4EEB4;
}

#toys-block a{
  color: #7F674B;
}

#blocks-know-more span{
  color: #463018;
  font-size: 25px;
  font-family: Paytone One;
}

#blocks-know-more button{
  background-color: #463018;
  border: none;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 5%;
  padding-left: 5%;
  border-radius: 15px;
  position: relative;
  top: 45%;
}

#blocks-know-more a{
  text-decoration: none;
  font-size: 25px;
  font-family: Paytone One;
}